* {
    background-color: #E2DCC8;
    text-align: center;
    border-radius: 12px;

}

#container {
    margin-top: 10%;

}

input {
    background-color: #100F0F;
    color: #F1F1F1;
    font-weight: 700;
    margin-top: 10px;
}

#categoria {
    margin-top: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    align-items: center;
    justify-content: center;
    margin-top: 40%;
}